@media screen and (min-width: 768px) {
  .hamburger-menu {
    display: none !important;
  }
  
  nav ul {
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    padding: 10px 0;
  }
  
  nav ul li {
    margin: 0;
  }
  
  main {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .top-section {
    flex-direction: row;
    justify-content: space-around;
  }
  
  .boxcertificate01.boxCourse {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}
